<meta charset="UTF-8">
<title>User Data - EJS Template</title>

<style>
    body {
        padding-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 15px;
    }
</style>